@import "../../node_modules/bootstrap/scss/bootstrap.scss"

// DEBUT NAVBAR
.imgnav
    display: flex
    justify-content: center
    padding: 50px

#navbarNavAltMarkup
    display: flex
    justify-content: center
    a
        margin: 37px
        transition: 0.3s ease-in
        &:hover
            color: red !important
    .color
        height: 15px
    .co
        height: 30px
        border-style: none
