$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./variables"
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss'
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss'
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss'

body
    font-family: 'Poppins', sans-serif

// config nav scroll
.content
    padding: 16px
.sticky
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: linear-gradient(0.25turn, #000000, #9b9b9b, #0f0f0f)
    box-shadow: 0 0 10px red
    z-index: 99

.sticky + .content
    padding-top: 60px

// DEBUT NAVBAR
.collapse
    justify-content: center
    overflow: hidden
    a
        color: black
        transition: 0.4s ease-in-out
        margin: 15px
        &:hover
            color: red !important
            transform: translateX(-10px) rotate(-15deg)

    .bg-white
        box-shadow: 0 0 15px black
        padding: 10px
        border-radius: 20%
        margin: 2px
    .bg-dark
        box-shadow: 0 0 15px white
        padding: 10px
        border-radius: 20%
        margin: 15px
#shop
    background-color: whitesmoke
    padding-top: 50px
    h1
        font-size: 55px
    .jumbotron
        background-color: transparent
        button
            border-radius: 30px
            font-weight: bold
        p
            img
                background-size: cover
    // AUTOTEXT
    #autotextspan
        border-right: 0.15em solid #bb0b0b
        letter-spacing: 0.05em
        animation: blink 0.75s step-end infinite

        @keyframes blink
            from,
            to
                border-color: transparent
            50%
                border-color: #bb0b0b

    .pblanc
        .img-fluid
            max-width: 100%
            height: auto
#service
    .categories1, .categories2, .categories3
        // height: 50vh

        .hr
            padding: 1px
            width: 73%
    #image1
        background-image: url("../../public/img/services/service-1.jpg")
        height: 33vh
        width: auto
        background-size: cover
        background-position: center
    #image2
        background-image: url("../../public/img/services/service-2.jpg")
        height: 33vh
        width: auto
        background-size: cover
        background-position: center
    #image3
        background-image: url("../../public/img/services/slider-3.jpg")
        height: 33vh
        width: auto
        background-size: cover
        background-position: center
    .h1soulign
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
#products
    font-weight: bold
    .container
        h4
            font-weight: bold
        .Luxury
            span
                display: flex
                justify-content: center
                padding-top: 10px
        .solde
            .saleandtitle
                display: flex
                padding: 20px
            .titleprice
                #through
                    text-decoration: line-through
#barre
    text-decoration: $barre

#Background
    font-weight: bold
    display: flex
    justify-content: center
    .bg
        background-image: url("../../public/img/background.jpg")
        background-size: cover
        background-repeat: no-repeat
        height: 650px
        width: 120%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
    #fashion-carousel
        position: relative
        margin: auto

#over-footer
    .row
        .white
            background-color: whitesmoke
footer
    .container
        .links
            a
                margin: 4px
                color: white

        .cadrer
            button
                border-style: solid
                border-radius: 5px
                border-color: grey
                margin: 3px
                text-decoration: none
                background : transparent
                color: grey
                padding: 4px

    .black
        background-color: black
// FORM POPUP connexion

.popup-form
    display: none
    position: fixed
    box-shadow: 0 0 50px black
    z-index: 9
    left: 20%
    bottom: 15%
    width: 60%
    .formm
        height: 100%
        padding: 10%
        .btn
            background-color: #ff0015
            color: white
            border: none
            cursor: pointer
            max-width: 40%
            margin-left: 30%
            opacity: 0.8
            font-weight: bold
            &:hover
                opacity: 2
        .cancel
            max-width: 5% !important
            margin-left: 90%
#insc
    color: grey
    text-decoration-line: none
    &:hover
        opacity: 2
        color: #ff0015

// inscription
.popup-form2
    display: none
    position: fixed
    box-shadow: 0 0 50px black
    z-index: 9
    left: 20%
    bottom: 15%
    width: 60%
    .formm2
        height: 100%
        padding: 2%
        .btn2
            background-color: #ff0015
            color: white
            border: none
            cursor: pointer
            max-width: 40%
            margin-left: 30%
            opacity: 0.8
            font-weight: bold
            &:hover
                opacity: 2
        .cancel2
            max-width: 5% !important
            margin-left: 90%
#connexion
    color: grey
    &:hover
        opacity: 2
        color: #ff0015
