@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./variables"

// DEBUT NAVBAR
.imgnav
    display: flex
    justify-content: center
    padding: 80px
.collapse
    display: flex
    justify-content: center
    a
        transition: 0.3s ease-in
        margin: 15px
        &:hover
            color: red !important
    .co
        border-style: none

#shop
    background-color: whitesmoke
    padding-top: 50px
    h1
        font-size: 55px
    .jumbotron
        padding: 50px
        button
            border-radius: 30px
            font-weight: bold
        p
            img
                background-size: cover
    .pblanc
        .img-fluid
            max-width: 100%
            height: auto
#service
    .categories1, .categories2, .categories3
        // height: 50vh

        .hr
            padding: 1px
            width: 73%
    #image1
        background-image: url("../../public/img/services/service-1.jpg")
        height: 33vh
        width: auto
        background-size: cover
        background-position: center
    #image2
        background-image: url("../../public/img/services/service-2.jpg")
        height: 33vh
        width: auto
        background-size: cover
        background-position: center
    #image3
        background-image: url("../../public/img/services/slider-3.jpg")
        height: 33vh
        width: auto
        background-size: cover
        background-position: center
    .h1soulign
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
#products
    font-weight: bold
    .container
        h4
            font-weight: bold
        .Luxury
            span
                display: flex
                justify-content: center
                padding-top: 10px
        .solde
            .saleandtitle
                display: flex
                padding: 20px
            .titleprice
                #through
                    text-decoration: line-through
#barre
    text-decoration: $barre

#Background
    font-weight: bold
    display: flex
    justify-content: center
    .bg
        background-image: url("../../public/img/background.jpg")
        background-size: cover
        background-repeat: no-repeat
        height: 650px
        width: 1600px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
